h1{
  color:#00ff17;
  font-size:5em;
  }
  h2{
    font-weight:bold;
    width:100px;
    color: #c1b8b8;
  }
  p{
    color:#0e00c7b3;
    font-weight: bold;
  }
  #contact{
    font-style: italic;
  }
  div{
    background-color:#476180; width:700px;
  }
  .backdrop{

  }
  #barf{
    background-color: #00ff34c7;
  }
  .mid-width {
    width: 500px;
  }
ol{

}
#navigation {
  /*padding: 8px;*/
  margin: 0 auto;
}
#header{
  margin: 0 auto;
}
.container {
  max-width: 760px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
#content {
  margin: 0 auto;

}
ol.container {
  background-color: skyblue;
}
ol li {
  border: solid 1px orange;
}
#navigation > ul {
  color: red;
}
body {
  background-color: gray;
}
ol li:first-child {
  background-color: green;

}
ol li:nth-child(2) {
  background-color: papayawhip;
}
ol li:nth-child(3n) {
  background-color: turquoise;
}
#footer p {
  font-family: Verdana;
}
#header div.container {
  border: 25px;
}
#content ol > li {
  font-weight: bold;
}
#navigation > ul > li {
display: inline;
position: relative;
}
#navigation ul.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;

}
#navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 1.3rem;
  width: 100vw;
  background-color: orange;
}

#navigation ul.container {
  display:flex;
}
#navigation a:hover + .dropdown,
 #navigation .dropdown:hover {
  display: block;
}
#navigation .dropdown {
  display: none;
  position: absolute;
  margin-top: 10px;
}


#navigation li:first-child {
  position: relative;
}
