h1{
  color:#00ff17;
  font-size:5em;
  }
  h2{
    font-weight:bold;
    width:100px;
    color: #c1b8b8;
  }
  p{
    color:#0e00c7b3;
    font-weight: bold;
  }
  #contact{
    font-style: italic;
  }
  div{
    background-color:#476180; width:700px;
  }
  .backdrop{

  }
  #barf{
    background-color: #00ff34c7;
  }
  .mid-width {
    width: 500px;
  }
ol{

}
